.pc_city{
	overflow: hidden;
	margin-top: 20px;
}
.pc_city .pc_cityleft{
	width: 95%;
}
.pc_city .pc_cityleft .pc_citytop{
	width: 100%;
	margin-bottom: 20px;
    color: #a7a7a7;
	overflow: hidden;
}
.pc_city .pc_cityleft .pc_citytop span{
	float: left;
    padding-right:6px;
    font-size: 14px;
}
.pc_city .pc_cityleft .pc_citycenter{
	border: 1px solid #ddd;
	padding: 5px 0;
	margin-bottom: 40px;
	font-size: 14px;
}
.pc_citycenter .pc_cityitem{
	padding: 10px 20px;
	overflow: hidden;
}
.pc_citycenter .pc_cityitem .pc_citytitle{
	float: left;
    padding: 3px 0;
}
.pc_citycenter .pc_cityitem  .pc_citylist{
	float: left;
    width: 740px;
    overflow: hidden;
}
.pc_citycenter .pc_cityitem .pc_citylist li{
    float: left;
    color: #008ad6;
    cursor: pointer;
    margin: 0 0 0 10px;
    padding: 3px 15px;
}
.pc_citycenter .pc_cityselect{
	border-top: 1px solid #ddd;
    padding: 10px 20px 5px;
    margin: 5px 0 0;
    overflow: hidden;
}
.pc_citycenter .pc_cityselect .pc_citytitle{
	float: left;
    padding: 3px 0;
}
.pc_cityselect .pc_citymain{
    float: left;
}
.pc_cityselect .pc_citymain li{
    border: 1px solid #f60;
    background: #feefe5;
    color: #f60;
    padding: 1px 4px;
    float: left;
    margin: 0 0 0 10px;
}
.pc_cityselect .pc_citymain .pc_citymain_select{
    border: none;
    background: #fff;
    cursor: pointer;
}
.pc_city .pc_cityleft .pc_citycondition{
    height: 38px;
    line-height: 38px;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    margin: 0 0 10px;
}
.pc_cityleft .pc_citycondition span{
    height: 38px;
    line-height: 38px;
    text-align: center;
    padding: 0 25px;
    font-size: 14px;
}
.pc_citybottom{
	overflow: hidden;
}
.pc_citybottom .pc_cityview{
	padding: 20px 20px 0;
    border: 1px solid #ddd;
    margin: 0 0 40px;
    overflow: hidden;
}
.pc_citybottom .pc_cityview .pc_citybox{
	overflow: hidden;
}
.pc_cityview .pc_citybox .image{
	float: left;
    margin: 0 20px 0 0;
}
.pc_cityview .pc_citybox .image img{
	width: 210px;
    height: 140px;
    float: left;
}
.pc_cityview .pc_citybox .desc{
	width: 450px;
    float: left;
}
.pc_cityview .pc_citybox .desc h2{
	line-height: 32px;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #333;
}
.pc_citybox .desc h2 span{
    color: #333;
}
.pc_cityview .pc_citybox .desc h2 span:hover{
    color:#f60;
}
.pc_cityview .pc_citybox .desc p{
	color: #666;
    overflow: hidden;
}
.pc_cityview .pc_citybox .desc p span{
	display: block;
	line-height: 24px;
    margin-bottom: 15px;
    font-size: 14px;
}
.pc_cityview .pc_citybox .desc p span em{
	font-size: 24px;
    color: #f60;
    font-style: normal;
    font-weight: 500;
}
.pc_cityview .pc_citybox .price{
	margin-top: 10px;
	width: 140px;
    float: right;
    text-align: center;
    padding-right: 10px;
}
.pc_cityview .pc_citybox .price span{
	display: block;
    color: #f60;
}
.pc_cityview .pc_citybox .price span i{
	font-size: 28px;
	font-style: normal;
}
.pc_cityview .pc_citybox .price em{
	height: 32px;
    line-height: 32px;
	font-size: 18px;
    padding: 0 20px;
    margin: 7px auto;
    color: #fff;
    background: #f60;
    border: 1px solid #f60;
    border-radius: 2px;
}
.pc_cityview .pc_citybox .price p{
	color: #999;
    line-height: 24px;
    overflow: hidden;
}
.pc_cityview .pc_citymore{
	overflow: hidden;
}
.pc_cityview .pc_citymore span{
	display: block;
    float: right;
    line-height: 45px;
    padding-right: 25px;
    font-size: 14px;
}
/*热卖商品*/
.pc_scenicright{
    width: 100%;
}
.pc_scenicright .pc_scenictitle{
	height: 20px;
    line-height: 20px;
    font-size: 20px;
    border-left: 5px solid #008ad6;
    margin: 0 0 10px;
    padding: 0 0 0 8px;
}
.pc_scenicright .pc_imglist{
	padding: 10px 0 0;
}
.pc_scenicright .pc_imglist li{
	float: left;
    border: 1px solid #ddd;
    margin: 0 0 20px;
}
.pc_imglist li .image{
	overflow: hidden;
    height: 175px;
    width: 100%;
    position: relative;
    cursor: pointer;
}
.pc_imglist li .image img{
	float: left;
	width: 100%;
	height: 100%;
}
.pc_imglist li .image .image_title{
	height: 30px;
    line-height: 30px;
	overflow: hidden;
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    left: 0;
}
.pc_imglist li .image .image_title span{
	height: 30px;
    line-height: 30px;
    overflow: hidden;
    width: 94%;
    padding-left: 3%;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}
.pc_imglist li .text{
	display: inline-block;
    overflow: hidden;
    height: 38px;
    line-height: 38px;
    width: 94%;
    padding: 0 3%;
    text-align: center;
    font-size: 16px;
}
.pc_imglist li .text span{
	color: #f60;
    float: left;
}
.pc_imglist li .text .text_sp{
    cursor: pointer;
    color:#333;
}
.pc_imglist li .text .text_sp:hover{
    color: #f60;
}
.pc_imglist li .text span i{
	font-style: normal;
    font-size: 20px;
    font-weight: 500;
    color: #f60;
}
/*游记列表页面*/
.pc_citybottom .pc_travelview{
    padding: 20px 0;
    overflow: hidden;
}
.pc_travelview .image{
    float: left;
    width: 220px;
    margin: 0 18px 0 0;
}
.pc_travelview .image img{
    width: 220px;
    height: 150px;
    float: left;
    vertical-align: top;
}
.pc_travelview .desc{
    font-size: 14px;
}
.pc_travelview .desc .header{
    position: relative;
}
.desc .header h2{
    font-size: 18px;
    height: 26px;
    line-height: 26px;
    padding: 0 86px 0 0;
}
.desc .header h2:hover{
    color:#f60;
}
.desc .header .like{
    display: inline-block;
    height: 26px;
    line-height: 26px;
    background: #feefe5;
    padding: 0 37px 0 13px;
    color: #f60;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    right: 10px;
}
.desc .header .like i{
    width: 17px;
    height: 17px;
    background-image: url("../images/sprite.png");
    background-position: -229px -82px;
    position: absolute;
    top: 5px;
    right: 10px;
}
.desc .header .author{
    padding: 5px 0 0;
    color: #999;
}
.desc .header .author em{
    display: inline-block;
    padding-right: 20px;
}
.desc .header .author em i{
    color: #f60;
    font-style: normal;
    font-weight: 500;
}
.desc .content{
    overflow: hidden;
    height: 50px;
    margin: 10px 10px 10px 0;
    line-height: 24px;
    color: #666;
}